
#currentGame, #gameInstructions, #gameStats{
    float:left;
    margin:0;
    width:30%;
    height: 50%;
    padding: 1%;
}

#currentWordH{
    text-align: center;
    font-size: 2.25vw;
    background-color: cadetblue;
}

h1{
    text-align: center;
}

#footer{
    position: absolute;
    bottom:0;
    text-align: right;
    width: 50%;
}

#gameStats{
    background-color: rgb(132, 174, 175);   
}

#gameInstructions h4{
    background-color: rgb(226, 204, 149);
}

#lossesH{
    background-color: rgb(202, 130, 130);
}

#winsH{
    background-color: rgb(129, 192, 129);
}

